html,
body,
#frame {
  height: 100%
}

#frame {
  position: relative;
  width: 100%;
}

.quote {
	font-size: 12px;
	line-height: 20px;
	max-width: 50%;
  font-family: Arial, sans-serif;
  position: absolute;
}

#frame div#hitarea {
	height: 100%;
	left: 0;
  position: absolute;
	top: 0;
	width: 80%;
}

#new_quote {
  background-color: #ccc;
  color: #666;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

#new_quote h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

#new_quote p {
	font-size: 14px;
  margin: 8px 0;
}

#new_quote a,
#new_quote a:visited {
  color: #999;
	text-decoration: none;
}

#new_quote a:hover {
  text-decoration: underline;
}

.new-quote-wrapper {
  width: 80%;
	margin: 0 auto;
}

.new-quote-wrapper textarea {
  max-width: 100%;
}

#hint {
	color: #ccc;
	left: 50%;
	margin-left: -50px;
  margin-top: -10px;
  position: absolute;
	top: 50%;
	text-align: center;
	width: 100px;
}

#error {
  color: red;
}

#new_quote p#credit {
	margin-top: 16px;
	font-size: 11px;
}

@media (min-width:640px) {
	.quote {
    font-size: 16px;
    line-height: 20px;
		max-width: 30%;
  }

	#new_quote h1 {
	  font-size: 18px;
	}
}
