<!DOCTYPE html>
<html>
<head>
  <title>Fade</title>
  <link href="/static/css/reset.css" rel="stylesheet"/>
  <link href="/static/css/style.css" rel="stylesheet"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		var TOKEN = '{{ token }}';
	</script>
  <script src="/static/js/main.js"></script>
</head>
<body>
  <div id="frame">
		<div id="hint" style="display: none;">(click)</div>
	</div>
  <div id="new_quote" style="display: none;">
    <h1>You have come far, grasshopper</h1>
    <p>Enter a new quote or piece of wisdom for others on the journey.</p>
    <textarea id="quote" rows="10" cols="75" maxlength="256" placeholder="Enter your quote here"></textarea><br>
    <button id="quote-submit">Share these words</button>
  </div>
</body>
</html>
